<!DOCTYPE html>
{%- assign $title = title | or: renderData.title1, renderData.title2, renderData.title -%}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ $title }}</title>
  </head>
  <body>
    <div class="container">
      {{ content | strip }}
    </div>

    <fieldset>
      <legend>DEBUG</legend>
      <dl>
        <dt><code>title</code>:</dt>
        <dd><pre>{{ title | dump }}</pre></dd>

        <dt><code>renderData</code>:</dt>
        <dd><pre>{{ renderData | dump }}</pre></dd>

        <dt><code>versions</code>:</dt>
        <dd><pre>{{ versions | dump }}</pre></dd>
      </dl>
    </fieldset>
  </body>
</html>
