---
title: Post 8 (Nunjucks style)
tags:
  - nunjucks
  - truthy
---

{% if 0 or "" or false %}
  Fail: Unexpected FALSY??
{% else %}
  Expected: You can't handle the truthy!
{% endif %}

OK, let's party!
